<%= flash[ :error ] -%>
<%= error_messages_for( :session ) %>

<% form_tag session_create_url do %>

<p>
Please log in using your campus Active Directory credentials.
</p>

<table>
  <tr>
    <td>Username:</td>
    <td>
    <%= text_field_tag :username %>
    </td>
  </tr>
  <tr>
    <td>Password:</td>
    <td>
    <%= password_field_tag :password %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value=" Login " /></td>
  </tr>
</table>
<% end %>

<%= set_focus( "username" ) %>
