<%# KA: Edit Person %>

<% provide(:title, "Edit People") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@person) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :netid %>
      <%= f.text_field :netid, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @person %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>



<h4><%= link_to 'Show All People', '/people' %></h4>

