<div>
	<%= gp.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_fields" %>
	<%= gp.hidden_field :id %>
	<%= gp.hidden_field :group_id, :value => @group.id %>
			
			
	<%= gp.fields_for :paths, gp.object.path do |p| %>
		<% if p.object %>
			<% temp_id = p.object.id %>
			<span class="details"><%= Path.find(temp_id).title %></span>
		<% else %>
			<span class="details">Name</span>
		<% end %>
	<% end %>
		
	<%= gp.hidden_field :path_id %>
</div>