
	  <tr>
		<td>
			<% if !course.website.empty? %>
				<a href="<%=h course.website %>"><%=h course.course_number %></a>
			<% else %>
				<%=h course.course_number %>
			<% end %>
		</td>
		<td><%=h course.cross_listings %></td>
		<td><%=h course.course_title %></td>
		<td><%=h course.credit_hours %></td>
		<td>
			<% if !course.offered.empty? %><%=h course.offered %><% end %>
		</td>
		<td><%= course.area_and_additional %></td>
		
		<td>
			<%= link_to 'Show', :action => 'show', :id => course %>
			<%= link_to 'Edit', :action => 'edit', :id => course %>
			<%= link_to 'Destroy', :action => 'destroy', :id => course, :confirm => 'Are you sure?', :method => :delete %>
		</td>
	  </tr>
	  
