      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12"><p></div>


<!--KA: Sidebar start-->
	<div class="col-md-4">
	      <%= render 'layouts/sidebar_ugrad_programs' %>
	 </div>
<!--KA: Sidebar end-->

	 <!--div-col-8 start -->
      <div class="col-md-8">  
		<h2 style="text-align: center;">Undergraduate Programs</h2>
		<h4>The School of Integrative Biology offers three ways to earn an undergraduate degree:</h4>
  
		<!--Integrative Biology-->
		<div class="row">
	       	   <div class="col-md-4 ">
               		<a class="no_underline"><%= image_tag 'sib/earth.jpg',  alt: "operation", size: "160x150" %></a>
         	   </div>
         	   <div class="col-md-8">
               		 <h4><a href="/IB_Major">Integrative Biology</a></h4>
			 <p>Understand how the different components of life interact, from molecules through global cycles.</p> 
	 	   </div>		
 	       </div>	
	      <div class="row">
		<div class="col-lg-12"><hr></div>
	      </div>


		<!--Integrative Biology Honors-->
		<div class="row">
 		   <div class="col-md-4 ">
               		<a class="no_underline"><%= image_tag 'sib/mastersInBio1.jpg',  alt: "masters in bio", size: "160x150" %></a>
	           </div>
        	   <div class="col-md-8">
                	<h4><a href="/honors">Integrative Biology Honors</a></h4>
			<p>Complete curriculum designed to offer outstanding, highly motivated students the chance to experience all that biology has to offer at Illinois.</p> 
		   </div>
		</div>
		<div class="row">
		        <div class="col-lg-12"><hr></div>
		</div>


		<!--Teaching of Biology-->
		<div class="row">
    	 	   <div class="col-md-4 ">
        	       <a class="no_underline"><%= image_tag 'sib/MSTWordCloud.jpg',  alt: "MS Online Teaching Word Cloud", size: "160x150" %></a>
	           </div>
        	   <div class="col-md-8">
                	<h4><a href="/teaching">Teaching of Biology</a></h4>
	                <p>Rigorous preparation for the next generation of secondary education biology teachers.</p>
		  </div>
		</div>
		<div class="row">
	   	  <div class="col-lg-12">
			<hr><h4 style="text-align: center;">In Addition, the School offers two minors:</h4></div>
		  </div>

		<!--Integrative Biology-Minor-->
		<div class="row">
    		   <div class="col-md-4 ">
               		<a class="no_underline"><%= image_tag 'sib/animalBio1.jpg',  alt: "animalBio", size: "160x150" %></a>
	           </div>
        	   <div class="col-md-8">
                	<h4><a href="http://sib.illinois.edu/minor">Integrative Biology</a></h4>
			<p>For students intending to have a career in a field other than biology, but for whom a background in biology is complementary.</p>
		   </div>
		</div>
		<div class="row">
	   	   <div class="col-lg-12"><hr></div>
		</div>

		<!--Ecology & Conservation Biology-->
		<div class="row">
   		   <div class="col-md-4 ">
               		<a class="no_underline"><%= image_tag 'sib/ecbminor.jpg',  alt: "ecb minor", size: "160x150" %></a>
	           </div>
        	   <div class="col-md-8">
                	<h4><a href="http://sib.illinois.edu/minor/ecology">Ecology & Conservation Biology</a></h4>
			<p>Prepares students for careers in this growing sub-discipline of biology.</p>
		   </div>
	       </div>

      </div>   <!--div:col-8 end -->

</div>  	<!--div:row end



