      
   <!--KA: Uneven columns with image-->


  <div class="row">
            <div class="col-lg-12"><p></div>


<!--KA: Sidebar start-->
	<div class="col-md-4">
	     <%= render 'layouts/sidebar_ugrad_special_programs' %>
	 </div>
<!--KA: Sidebar end-->

	<!--div-col-8 start -->
            <div class="col-md-8">
		<h2 style="text-align: center;">Special Programs in IB</h2>
		<p>IB has several special programs to help students be successful and reach their highest potential. Follow the links below for more detail on each!</p>

		
		<!--Merit for Emerging scholars-->
		<div class="row">
		   <div class="col-md-4 ">
        	   <a class="no_underline"><%= image_tag 'sib/chemmerit_group.jpg',  alt: "CHem Merit", size: "180x150" %></a>
         	   </div>
         	   <div class="col-md-8">
                	<h4><a href="http://merit.illinois.edu/futurestudents.html">Merit Program for Emerging Scholars</a></h4>
			<p>Merit-style teaching consists of using a highly trained facilitator-instructor to stimulate student-student interactions by providing challenging problem sets or other activities for the students.</p> 
		   </div>
		 </div>
		 <div class="row"><div class="col-lg-12"><hr></div></div>
		

	       <!--Integrative Biology Honors-->
		<div class ="row">
	   	   <div class="col-md-4 ">
               		<a class="no_underline"><%= image_tag 'sib/snorkel.jpg',  alt: "snorkel", size: "180x150" %></a>
         	   </div>
         	   <div class="col-md-8">
                	<h4><a href="/honors">Integrative Biology Honors</a></h4>
			<p>Complete curriculum designed to offer outstanding, highly motivated students the chance to experience all that biology has to offer at Illinois.</p> 
	  	   </div>
	  	 </div>
    	   	 <div class="row"><div class="col-lg-12"><hr></div></div>
	      
	     <!--IB 299: Biomath-->
	     <div class="row">
	 	<div class="col-md-4 ">
        	       <a class="no_underline"><%= image_tag 'sib/scienceWriting.jpg',  alt: "ib299", size: "180x150" %></a>
	        </div>
         	<div class="col-md-8">
                	<h4><a href="http://www.math.uiuc.edu/biomath/">IB 299: Biomath</a></h4>
	                <p>By bringing mathematics and biology students together under joint mentorship, the Biomath Program will contribute a generation of scientists to meet the new challenges at the interface between these two disciplines.</p>
		</div>
	     </div>
	     <div class="row"><div class="col-lg-12"><hr></div></div>
	   

	    <!--IB 299: Intro to Research-->
	    <div class="row">
	 	<div class="col-md-4 ">
        	       <a class="no_underline"><%= image_tag 'sib/researcher-small.jpg',  alt: "researcher", size: "180x150" %></a>
	        </div>
        	<div class="col-md-8">
                	<h4><a href="/research/intro">IB 299: Intro to Research</a></h4>
			<p>For students interested in getting started in undergraduate research.</p>
		</div>
	     </div>
	     <div class="row"><div class="col-lg-12"><hr></div></div>
	   

	   <!--IB 496: Becoming a Research Scientist-->
	   <div class="row">
	 	<div class="col-md-4 ">
        	       <a class="no_underline"><%= image_tag 'sib/whitfield lab.jpg',  alt: "whitfield", size: "180x150" %></a>
	        </div>
	         <div class="col-md-8">
        	        <h4><a href="/bars">IB 496: Becoming a Research Scientist</a></h4>
			<p>Intended for students planning a career in research.</p>
	        </div>
	  </div>
	  <!-- -->

      </div>    <!-- div: row-main end-->
</div>





