<% content_for( :title, 'PEEC Research Areas' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'research_ex' ) %>

<style>

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #f1f1f1;
 }

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #d7d7d7;
 }



</style>

  <h2>Research Areas</h2>
  <h3>Click on the research area you are interested in, to see the list of faculty for that area:</h3>
  <br>


<center>
<table class="table table-striped">
<tbody>
 <tr>
    <th>Ecology</th>
    <th>Evolution and Systematics</th>
    <th>Conservation Biology</th>
  </tr>
 <tr>
   <td width="20%">
	<%@res_area = ResearchArea.where(area: 'Ecology').order("name ASC") %>
        <% @res_area.each do |area| %>
	    <a href="/people/research_areas/<%= area.id%>"><%= area.name%> </a> <br><br>
        <% end %>
    </td>
    <td  width="30%">
  	  <%@res_area = ResearchArea.where(area: 'Evolution & Systematics').order("name ASC") %>
          <% @res_area.each do |area| %>
   	     <a href="/people/research_areas/<%= area.id%>"><%= area.name%> </a> <br><br>
          <% end %>
     </td>
     <td  width="30%">
	     <%@res_area = ResearchArea.where(area: 'Conservation Biology').order("name ASC") %>
             <% @res_area.each do |area| %>
		<a href="/people/research_areas/<%= area.id%>"><%= area.name%> </a> <br><br>
	      <% end %>
      </td>
  </tr>
  </tbody>
 </table>
</center>



<p> &nbsp; </p>
<p> &nbsp; </p>
<p> &nbsp; </p>





