<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", "display" %>
    <%= csrf_meta_tag %>
	

<link type="text/css" href="/javascripts/jquery-ui-1.8.13.custom/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
		<%= javascript_include_tag 'jquery-1.6.1.min.js', 'jquery-ui-1.8.13.custom/js/jquery-ui-1.8.13.custom.min.js', 'jfeed/build/dist/jquery.jfeed.pack.js', 'jquery.simpleWeather.js' %>
		

		
<link href="/stylesheets/MorrillHallHorizontal.css" rel="stylesheet" type="text/css" />

    

</head>

<body>

<%= yield  %>

<!-- UIUC Emergency Web Alert System
       See: http://www.publicaffairs.illinois.edu/resources/webalert.html -->
  <script type="text/javascript" src="http://emergency.webservices.illinois.edu/illinois.js"></script>
  
</body>


</html>
