<!--KA: June 2015-->

<% content_for( :title,   'Undergraduate Programs-Honors' ) %>
<% content_for( :sidebar, 'undergraduate' ) %>
<% content_for( :expand,  'programs_ex' ) %>

	<h2 style="text-align: center;">Honors</h2>
	<h4 style="text-align: center;">Concentration in the Integrative Biology Major</h4>

<h3> Highlights of IB Honors: </h3>
	<table class="table table-striped">
	   <tbody>
	       <tr><td> <i class="fa fa-star"></i>&nbsp; <span>Small classes with outstanding faculty</span></td></tr>
	       <tr><td> <i class="fa fa-star"></i>&nbsp; <span>Cohesive group of students in a focused curriculum</span></td></tr>
	       <tr><td> <i class="fa fa-star"></i>&nbsp; <span>Open-ended investigation in the lab and field</span></td></tr>
	       <tr><td> <i class="fa fa-star"></i>&nbsp; <span>an honors program, not just an honors section</span></td></tr>
	   </tbody>
	</table>




<div style="margin: 1em 3em; padding: 1em; background-color: #f6f6f6;">
	 <h3 style="text-align: center;">IB Honors Informational Workshop<br>
              Tuesday, February 17th, 2015<br>
              5pm in 277 Morrill Hall
   	 </h3>
	<p>IB Honors provides outstanding opportunities for students with true passion for biology. Whether your ultimate goal is medicine, research, conservation biology, teaching or industry, this workshop will let you know how IB Honors can improve your chances of success.&nbsp; This workshop is for freshmen.</p>
</div>
<br>

    <div style="float: left; clear: right; margin: .5em; ">
         <%= image_tag 'sib/Honors-Flier3.jpg',  alt: "HonorsFlier", size: "200x170" %>
   </div>

    <p style="text-align: justify;">The <strong><a href="http://www.life.illinois.edu/ibhonors/" target="_blank">Honors Concentration</a></strong> in the Integrative Biology major is a complete curriculum - designed to offer outstanding, highly motivated students the chance to experience all that biology has to offer at the University of Illinois.</p>
<br>
    <div style="float: right; clear: left; margin: .5em; ">
         <%= image_tag 'sib/Honors-Flier5.jpg',  alt: "HonorsFlier", size: "200x170" %>
    </div>
    <p style="text-align: justify;">With enrollment limited to 25-30 students per year and all classes and labs taught by outstanding professors, students are virtually assured the daily interactions with faculty that are critical to developing scientific techniques, critical thinking, and communication skills. Each year, participation in open-ended laboratory and field courses fosters cohesiveness among all the students in the program, creating a mutual support system unique among biology majors.</p>
<br>
   	<div style="float: left; clear: right; margin: .5em; ">
            <%= image_tag 'sib/Honors1.jpg',  alt: "HonorsFlier", size: "160x180" %>
        </div>
        <p style="text-align: justify;">Three, semester-long core honors courses have one over-arching theme, the integration of biology at multiple levels of organization, from cells and molecules, to organisms, to ecosystems. Supplemented with a strong background in chemistry, the physical sciences, mathematics and statistics, and Independent Study research experiences, IB Honors students are among the best prepared students at the University, whether their career goals be professional schools (Medical, Veterinary, Dental or others), research, conservation, or industry.</p>
<br><br><br><br><hr>






<h3> Admission to the Concentration: </h3>
    <div style="float: right; clear: left; margin: .5em; ">
       <%= image_tag 'sib/Honors2.jpg',  alt: "HonorsFlier", size: "160x130" %>
    </div>
        <p style="text-align: justify;">Admission to IB Honors occurs in the Spring semester of the Freshman year. Informational meetings will be held in mid-February. Students desiring the Honors Experience are interviewed individually, and notified of acceptance well in advance of pre-registration for the Fall semester.</p>
<br>
   	<div style="float: left; clear: right; margin: .5em; ">
            <%= image_tag 'sib/Honors3.jpg',  alt: "HonorsFlier", size: "130x100" %>
        </div>
        <p style="text-align: justify;">To be accepted, students must have a 3.0 GPA by the end of their second semester, show evidence of success in math and science courses, and have a strong interest in biology. General chemistry should be completed before beginning IB Honors courses.</p>
<br><br><hr>



<h3>Requirements for the Degree in Honors Integrative Biology:</h3>
<div class="course_table">
<table class="sib_tables" id="table2" border="0" cellpadding="3" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="4"><span style="font-size: small;"><span style="color: #006699;"><em>Minimum hours required for graduation:</em></span> 120 hours</span></td>
</tr>
<tr>
<td valign="baseline" width="7%" bgcolor="#D5EAFF"><a class="anchorFix" href="http://sib.illinois.edu/honors.htm#requirements" name="requirements"></a> <strong><span style="font-size: small;">HOURS </span></strong></td>
<td colspan="3" valign="baseline" width="91%" bgcolor="#D5EAFF"><strong><span style="font-size: small;">REQUIREMENTS<sup>1</sup></span></strong></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFFCC"><span style="font-size: small;">4</span></td>
<td colspan="3" width="91%" bgcolor="#FFFFCC"><span style="font-size: small;">IB 150 – Organismal &amp; Evolutionary Biol</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFFCC"><span style="font-size: small;">4</span></td>
<td colspan="3" width="91%" bgcolor="#FFFFCC"><span style="font-size: small;">MCB 150 –Molecular &amp; Cellular Basis of Life</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFFCC"><span style="font-size: small;">5 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFFCC"><span style="font-size: small;">IB 270 – Evolution of Molecules and Cells--the major evolutionary transitions of biomolecules and cells, including energy acquisition and metabolism; information inheritance, system regulation, and genomes; the origin of life, the prokaryotic cell, eukaryotic cell, and multicellularity. Lecture and lab. </span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFFCC"><span style="font-size: small;">5</span></td>
<td colspan="3" width="91%" bgcolor="#FFFFCC"><span style="font-size: small;">IB 271 – Organismal Biology--integrated study of the diversity and structure and function of plants and animals in evolutionary and environmental contexts. Conceptual themes and techniques of molecular and cellular levels of biological organization will be integrated as well.&nbsp; Lecture and lab.</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFFCC"><span style="font-size: small;">5</span></td>
<td colspan="3" width="91%" bgcolor="#FFFFCC"><span style="font-size: small;">IB 372 – Ecology and Evolution<sup>2</sup>--integrated study of ecology, population genetics, and evolution. Conceptual themes and techniques from the molecular, cellular, and organismal levels of biology will be integrated as well. Lecture, Lab, and field work.</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#CCFFCC"><span style="font-size: small;">11-12 <br> <br> &nbsp;</span></td>
<td colspan="3" width="91%" bgcolor="#CCFFCC"><span style="font-size: small;">MATH 220 or 221 – Calculus I, and<br> MATH 231 – Calculus II, and<br> MATH 241 – Calculus III</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#CCCCFF"><span style="font-size: small;">14-16 </span></td>
<td width="31%" bgcolor="#CCCCFF"><span style="font-size: small;">Select <strong> ONE</strong> group of courses:<sup>3</sup><br> CHEM 202 – Accelerated Chemistry I, and<br> CHEM 203 – Accelerated Chemistry Lab I, and<br> CHEM 204 – Accelerated Chemistry II, and<br> CHEM 205 – Accelerated Chemistry Lab II, and<br> CHEM 236 – Fundamental Organic Chem I, and<br> CHEM 237 – Structure and Synthesis</span></td>
<td width="8%">
<p align="center"><span style="color: #3366cc; font-size: 300%;"><strong>or</strong></span></p>
</td>
<td width="52%" bgcolor="#CCCCFF"><span style="font-size: small;">CHEM 102 – General Chemistry I,<br> CHEM 103 – General Chemistry Lab I, and<br> CHEM 104 – General Chemistry II<br> CHEM 105 – General Chemistry Lab II, and<br> CHEM 232 – Fundamental Organic Chem I, and<br> CHEM 233 – Structure and Synthesis</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">3 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">MCB 450 – Introductory Biochemistry<br></span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">4</span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">BIOC 455 – Technqs Biochem &amp; Biotech</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">4 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">PHYS 211 – Univ Physics, Mechanics<sup>5</sup></span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">4 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">PHYS 212 – Univ Physics, Elec &amp; Mag<sup>5</sup></span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">3 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">An approved 300- or 400-level course in statistics<sup>4</sup> </span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">6 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">IB 490 – Independent Research (2 semesters)</span></td>
</tr>
<tr>
<td valign="top" width="7%" align="right" bgcolor="#FFFF99"><span style="font-size: small;">10 </span></td>
<td colspan="3" width="91%" bgcolor="#FFFF99"><span style="font-size: small;">300- or 400-level courses in the biological sciences</span>
</tbody>
</table>
</div>

<hr>
<h3>Other requirements:</h3>
<p>Twelve hours advanced-level courses in the major must be taken on this campus. All LAS General Education requirements must be satisfied. No more than 11 hours of credit in 100-level courses in IB or MCB may be counted toward graduation.<br> <br> Students may count toward graduation no more than a combined maximum of 10 hours of IB 390 and IB 490 credit offered for independent study. Substitutions or other changes in the requirements given above may be made only by petition to and approval of the director of the Integrative Biology Honors program.<br></span></p>

<p><br> <sup>1</sup>Students must consult with their integrative biology honors adviser at least once each semester.<br><br> <sup>2</sup>Continuation in the integrative biology honors concentration requires a grade of B or better in each of IB 270, 271, and 372 and a 3.0 GPA.<br><br> <sup>3</sup>The first sequence is recommended, and preference will be given on admission to students following it. Introductory chemistry should be completed prior to enrolling in IB 270.<br><br> <sup>4</sup>NRES 421 is recommended. Other suitable courses are CPSC 440 or STAT 400<br><br><sup>5</sup>May be substituted by PHYS 101 and 102 <em>and</em> an approved 400-level course that includes physical/math principles (ATMS 421, ANSC 448, or other courses approved by IBH Director).</p>



<p> &nbsp;</p>
      
