<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Some Featured PEEC Alumni</h1>
<p style="text-align: center;"><em>Click on the name of the alumnus to see more what they're doing now.</em></p>
<p style="text-align: center;">&nbsp;</p>
<table cellspacing="10" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top"><a href="/peec/alumni_featured/allen"><%= image_tag 'peec/allen.jpg', alt:"" %></a></td>
      <td valign="top">
        <h3 style="margin: 0px 0px 8px 0px;"><a href="alumni_featured/allen" target="_blank">Michael Allen</a>
        <a href="http://seagrant.noaa.gov/" target="_blank"><%= image_tag 'peec/sea_grant_logo.jpg' %></a></h3>
        <p>Assistant Director for Research<br /> 
          <em>Maryland Sea Grant</em><br /> 
          (works with the scientific community to advance research and education on issues affecting the Chesapeake Bay region)<br /> 
          <a href="mailto:mallen@mdsg.umd.edu">mallen@mdsg.umd.edu</a>
        </p>
        </td>
        <td valign="top"><a href="alumni_featured/carey" target="_blank"><%= image_tag 'peec/300_carey1.jpg', width: '100px' %></a></td>
        <td valign="top">
          <h3 style="margin: 0px 0px 8px 0px;"><a href="alumni_featured/carey" target="_blank">Michael Carey</a></h3>
          <p>Research Fish Biologist<br />
            <em>USGS Alaska Science Center </em><br />
            (studies response of aquatic ecosystems to a changing environment)<br /> 
            <a href="mailto:mcarey@usgs.gov">mcarey@usgs.gov</a>
          </p>
        </td>
      </tr>
      <tr>
        <td valign="top"><a href="alumni_featured/maddox" target="_blank"><%= image_tag 'peec/maddox_observing.jpg', width: '100px', alt: 'maddox observing'%></a>
        </td>
        <td valign="top">
          <h3 style="margin: 0px 0px 8px 0px;"><a href="alumni_featured/maddox" target="_blank">J. Dylan Maddox</a></h3>
          <p>
            NSF Postdoctoral Fellow<br />
            <em>El Centro de Investigaciones de Recursos Naturales de la Amazon&iacute;a</em>&nbsp;(CIRNA) at <em>Universidad Nacional de la Amazon&iacute;a Peruana</em> (UNAP) Iquitos, Per&uacute;<br /> (focuses on understanding the mating system of a colonial blackbird in the Peruvian Amazon)
          </p>
        </td>
        <td valign="top"><a href="alumni_featured/nelson" target="_blank"><%= image_tag 'peec/300_nelson_casif.jpg', width: '100px', alt: 'Nelson Casif' %></a>
        </td>
        <td valign="top">
          <h3 style="margin: 0px 0px 8px 0px;"><a href="alumni_featured/nelson" target="_blank">David Nelson</a></h3>
          Assistant Professor<br />
          <em>Appalachian Laboratory;</em><br />
          <em> Center for Environmental Science</em> at University of Maryland <br />
          (established the Central Appalachians Stable Isotope Facility (CASIF))<br />
          <a href="mailto:dnelson@al.umces.edu">dnelson@al.umces.edu</a>
        </td>
      </tr>
      <tr>
        <td valign="top"><a href="/peec/alumni_featured/toth"><%= image_tag 'peec/600_toth3_cropped.jpg', width: '100px', alt: 'Toth' %></a>
        </td>
        <td valign="top">
          <h3 style="margin: 0px 0px 8px 0px;"><a href="alumni_featured/toth" target="_blank">Amy Toth</a></h3>
          Assistant Professor<br /> <em>Iowa State University</em><br /> (focuses on behavioral genomics of paper wasps and on how nutritional considerations relate to honey bee health)<br /> <a href="mailto:amytoth@iastate.edu">amytoth@iastate.edu</a>
        </td>
        <td valign="top"><a href="alumni_featured/smith" target="_blank"><%= image_tag 'peec/600_smith2.jpg', width: '100px', alt: 'Smith' %></a>
        </td>
        <td valign="top">
          <h3 style="margin: 0px 0px 8px 0px;"><a href="alumni_featured/smith" target="_blank">Chris Smith</a></h3>
          Assistant Professor<br /><em>Earlham College</em><br /> Richmond, Indiana<br />
          (focuses on the evolution of phenotypic variation in insect societies)<br /> 
          <a href="mailto:crsmith.ant@gmail.com">crsmith.ant@gmail.com</a>
        </td>
      </tr>
    </tbody>
  </table>
<p>&nbsp;</p>
<p style="font-size: 85%; text-align: center;"><em>If you are a PEEC Alumnus and would like to be featured here, please send Laura Thurlwell<a href="mailto:thurlwel@illinois.edu"> (thurlwel@illinois.edu)</a> a short write-up along with a couple of pictures, and we'll gladly add you.</em></p>
