<% content_for( :title, 'PEEC Home' ) %>
<% content_for( :sidebar, 'peec' ) %>

<h1>Student Research</h1>
<p style="text-align: center;"><em>Click on the name of each student to see more about their research.</em></p>
<p style="text-align: center;">&nbsp;</p>
<div style="width: 53%; padding: 4px; float: left;"><a href="../../peec/students/berkey"><%= image_tag 'peec/berkley.jpg', width: '160px', alt: 'Berkley' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/berkey" target="_blank">Abigail Berkey</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Social behavior of the four-toed salamander (<em>Hemidactylium scutatum</em>)</div>
<div style="width: 43%; padding: 4px; float: right;"><a href="../../peec/students/chipman" target="_blank"><%= image_tag 'peec/600_chipman3.jpg', width: '160px', alt: 'Melissa Chipman' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/chipman" target="_blank">Melissa Chipman</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Paleoclimate-vegetation dynamics of Alaska</div>
<div style="width: 53%; padding: 4px; float: left;"><a href="../../peec/students/cohen" target="_blank"><%= image_tag 'peec/600_cohen1.jpg', width: '160px', alt: 'Dora Cohen' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/cohen" target="_blank">Dora Cohen</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Disturbance regimes and microbial ecology</div>
<div style="width: 43%; padding: 4px; float: right;"><a href="../../peec/students/haselhorst" target="_blank"><%= image_tag 'peec/forest.jpg', width: '160px', alt: '' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/haselhorst" target="_blank">Derek Haselhorst</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Tropical palynology</div>
<div style="width: 53%; padding: 4px; float: left;"><a href="../../peec/students/pearish" target="_blank"><%= image_tag 'peec/pearish1.jpg', width: '160px', alt: 'Sim Pearish' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/pearish" target="_blank">Simon Pearish</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Behavioral ecology of the three-spined stickleback (<em>Gasterosteus aculeatus</em>)</div>
<div style="width: 43%; padding: 4px; float: right;"><a href="../../peec/students/powers" target="_blank"><%= image_tag 'peec/powers1.jpg', width: '160px', alt: 'Lisa Powers' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/powers" target="_blank">Lisa Powers</a></h3>
<span style="text-decoration: underline;">Research Focus</span>: Reproductive ecology of bats</div>
<div style="width: 53%; padding: 4px; float: left;"><a href="../../peec/students/welsh" target="_blank"><%= image_tag 'peec/change_name.jpg', width: '160px', alt: 'Erin Welsh' %></a>
<h3 style="margin: 0px 0px 8px 0px;"><a href="../../peec/students/welsh" target="_blank">Erin Welsh</a> - <a href="http://www.igert.org" target="_blank">IGERT</a> Recipient</h3>
<span style="text-decoration: underline;">Research Focus</span>: Tropical tick ecology</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size: 85%;"><em>If you are a current PEEC Graduate Student and would like to be featured here, please send Laura Thurlwell<a href="mailto:thurlwel@illinois.edu"> (thurlwel@illinois.edu)</a> a short write-up along with a couple of pictures, and we'll gladly add you.</em></p>
