<%# 03-Jun-2015 uebele@ moved/renamed, Rails content_for, accessable h-tags 
    08-Jun-2015 uebele@ ordered grants alphabeitally, validated, formatted
-%>
<!-- Grant Index page content
       in /graduate/grants
       updated by uebele@ Jun-2015 -->

<% # rails variables for title and sidebar
content_for( :title, 'Grants & Awards for Graduate Students' )
content_for( :sidebar, 'grad' )
content_for( :expand, 'grants_ex' )
-%>
<h2><%= "Grants & Awards" %></h2>

<p>
Graduate students enrolled in SIB departments or SIB-sponsored graduate programs are eligible to apply for several grants or awards to support their research or to advance their professional development.
Click on the name of the grant or award below to obtain more information about eligibility and application procedures.
</p>

<p>In addition, the Graduate College has
<%= link_to 'a web page', 'http://www.grad.uiuc.edu/funding-jobs' %>
on which financial aid to graduate students is discussed, including
<%= link_to 'assistance with travel', 'http://www.grad.illinois.edu/general/travelaward' %>.
</p>

<br>
<h4 style="text-align:center">SIB Grants and Awards Graduate Students May Apply For:</h4>

<h3><strong><%= link_to 'The Edwin Banks Memorial Fund','Banks' %></strong></h3>
<p>This is administered by the Department of Animal Biology.This fund provides supplementary fellowship support for graduate students.</p>
<ul><p>Award: TBD<br>Deadline: TBD</p></ul>

<hr>

<h3><strong><%= link_to 'The Francis M. and Harlie M. Clark Research Support Grant','Clark_research' %></strong></h3>
<p>THis is administered by the IB Fellowship Committee.Grants are given in recognition of outstanding achievement in the biological sciences and for the support of the students' professional development or research.</p>
<ul><p>Award: Typically around $1,000 <br> Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong><%= link_to 'The Francis M. and Harlie M. Clark Summer Fellowship', 'Clark_summer' %></strong></h3>
<p>This is administered by the IB Fellowship Committee.Fellowships are given to support graduate students who would otherwise not have summer support.</p>
<ul><p>Fellowship: 2 months <br> Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong><%= link_to 'The Robert Emerson Memorial Award', 'Emerson' %></strong></h3>
<p> This is administered by the IB Fellowship Committee. This award is given to recognize exceptional academic achievement and research potential.</p>
<ul><p>Award: $2500  <br>  Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong> <%= link_to 'The Govindjee and Rajni Govindjee Award for Excellence in Biological Science', 'Govindjee' %></strong></h3>
<p> This is administered by the Department of Plant Biology every odd fiscal year.It provides research support for any student conducting research in plant biology.</p>
<ul><p>  Award: TBD  <br>  Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong>  <%= link_to 'The Harold C. and Sonja L. Labinsky Award','Labinsky' %></strong></h3>
<p> This is designed for students working with faculty in the Department of Plant Biology that use plant genetics in their research program.
The award may be given to: 1) recognize graduate student research achievements using the methods and approaches of plant genetics, 2) recognize meritorious research using the methods and approaches of plant genetics by an undergraduate, or 3) as support for participation by a graduate student in a scientific workshop or meeting that will assist in the application of genetic approaches to the student's thesis research.</p>
<ul><p>  Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong>  <%= link_to 'The R. Weldon Larimore Scholarship', 'Larimore' %></strong></h3>
<p> This is administered by the Illinois Natural History Survey, a part of the Institute of Natural Resource Sustainability at the University of Illinois.
It provides research support for graduate students conducting research in the area of stream ecology.</p>
<ul><p>  Award: Not available for Spring 2015  <br>  Deadline: NA</p></ul>

<hr>

<h3 ><strong>  <%= link_to 'The John R. Laughnan Fund in Plant Biology', 'Laughnan' %></strong></h3>
<p> This is administered by the Department of Plant Biology.It provides support for graduates students in the Department of Plant Biology for travel to scientific meetings.</p>
<ul><p>  Award: TBD  <br>  Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong> <%= link_to 'The Lebus Fund Award',  'Lebus' %></strong></h3>
<p> This is administered by the Integrative Biology Fellowship Committee.The award provides funds to support meritorious graduate students during the summer.</p>
<ul><p>  Award: TBD  <br>  Deadline: March 12, 2015</p></ul>

<hr>

<h3><strong>  <%= link_to 'The William H. Luckmann Award',  'Luckmann' %></strong></h3>
<p> This is administered by a committee from the Illinois Natural History Survey.The award provides funds to support undergraduate or graduate student attendance and presentation of research results at the annual meeting of the Entomological Society of America (ESA) or a meeting of another appropriate professional society.</p>
<ul><p>  Award: TBD  <br>  Deadline: March 31, 2015</p></ul>

<hr>

<h3><strong>  <%= link_to 'The Isabel Norton Award', 'Norton' %></strong></h3>
<p> This is administered by the Integrative Biology Fellowship Committee.The award provides funds to support graduate students who are within one year of graduation in order for them to complete their thesis or dissertation research.</p>
<ul><p>  Award: No funding for Spring 2015  <br>  Deadline: NA</p></ul>

<hr>

<h3><strong>  <%= link_to 'The Eugene P. Odum - S. Charles Kendeigh Fund', 'Odum-Kendeigh' %></strong></h3>
<p> This is administered by the Department of Animal Biology.It provides research support for graduate students in the field of ecology, behavior, and evolutionary biology.</p>
<ul><p>  Award: TBD  <br>  Deadline: TBD</p></ul>

<hr>

<h3><strong>  <%= link_to 'The Herbert Holdsworth Ross Memorial Fund','Ross' %></strong></h3>
<p> This is administered by a faculty committee from the Natural History Survey and the Department of Entomology.
The fund provides research support for graduate students in the field of systematics, including taxonomy, phylogeny, biogeography, and related subjects.
<ul><p>  Award: TBD  <br>  Deadline: April 3, 2015</p></ul>

<hr>

<h3><strong>  <%= link_to 'The Phillip W. Smith Memorial Fund','Smith' %></strong></h3>
<p> This is administered by a committee from the Natural History Survey.The fund provides research support for graduate students in the fields of systematics or ecology of living organisms.Also see <%= link_to 'these instructions', 'Smith_instructions' -%>.</p>
<ul><p>  Award: TBD  <br>  Deadline: April 3, 2015</p></ul>

<hr>

<h3><strong>  <%= link_to 'The Harley J. Van Cleave Research Award', 'Van_Cleave' %></strong></h3>
<p> This is administered by the Integrative Biology Fellowship Committee.The fund provides research support for graduate students investigating new frontiers and demonstrating promise and high aptitude in the fields of Cell and Structural Biology, Physiology, Ecology, Microbiology, Genetics, and related fields. <%= link_to 'Submit application', 'grad_application_checklist.docx' %> in PDF format to <%= mail_to 'sibawards@life.illinois.edu' -%>.</p>
<ul><p>  Award: $1000  <br>  Deadline: March 12, 2015</p></ul>

