<!--KA: Adding the Bootstrap3 Carousel to show the news slider -->


<div class="news_slider">
    <div id="newsItem" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#newsItem" data-slide-to="0" class="active"></li>
            <li data-target="#newsItem" data-slide-to="1"></li>
            <li data-target="#newsItem" data-slide-to="2"></li>
        </ol>   

       <!-- KA: Loop through the news items and set the class for the first item as 'active' -->
       <div class="carousel-inner">
	  <%@articles.each_with_index do |t,i|%>
	  <%if i == 0%>
            <div class="item active">
		<div class="fill" style="background-image:url('http://blog.speakupmovement.org/university/wp-content/uploads/2010/07/university-of-Illinois.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="newsitem.html"><%=t.title%></a></h3>
                </div>
            </div>
	  <%else%>
	    <div class="item">
		<div class="fill" style="background-image:url('http://blog.speakupmovement.org/university/wp-content/uploads/2010/07/university-of-Illinois.jpg');" ></div>
                <div class="carousel-caption">
                    <h3> <a class="links" href="newsitem.html"><%=t.title%></a></h3>
                </div>
            </div>

	  <%end%>	
			    
  	  <%end%>
	</div>


        <!-- News Slider navigation -->
        <a class="carousel-control left" href="#newsItem" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#newsItem" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<!-- END: News Slider loop -->

<!--KA: START: Calendar events Loop-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:gray"> Calendar </h1>
            </div>

	<%@events.each do |t|%>
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 align = "center" ><i class="fa fa-fw fa-check"></i><%= (t.startDate).strftime("%A, %B %d")%></h4>
			<h6 align = "center" ><i class="fa fa-fw fa-check"></i><%= (t.startTime).strftime("%I %p")%></h6>
                    </div>
                    <div class="panel-body fixed-panel">
                        <p><%= t.titleLong %> </p>                        
                    </div>
                </div>
            </div>
	<%end%>

	
	</div>

<!--KA: END: Calendar events loop-->
























