<% content_for( :title, 'Current Peec Students' ) %>
<% content_for( :sidebar, 'peec' ) %>
<% content_for( :expand, 'current_ex' ) %>

<h2>Current Student Information</h2>
<p>There is a lot of information out there that a Graduate Student has to wade through in order to successfully complete their degree. Hopefully the following links will help you navigate some of that information and help you to stay organized and on top of things.</p><br>
	<table class="table table-striped">
        <tbody>
            <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Student Deadlines', '/peec/current/deadlines' %>: Important dates to note for the currect semester.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Useful Forms/Links', '/peec/current/forms' %>: Useful forms and links for PEEC students to use.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Milestones Timeline', '/peec/current/milestones' %>: A timeline of important benchmarks throughout your graduate career.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Program Handbook', '/peec/current/handbook' %>: Your main resource and guide throughout your graduate career in UIUC's Program in Ecology, Evolution, and Conservation Biology. The guide includes official policies and requirements that you must fulfill in order to successfully complete your degree.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'By Laws', '/peec/current/bylaws' %>: Established regulations for the governance and mechanisms for policy formation for the Program in Ecology, Evolution, and Conservation Biology.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Fellowships', '/peec/current/fellowships' %>: A partial list of relevant Fellowships available to PEEC students.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Facilities', '/peec/current/facilities' %>: Equipment, instructional facilities, and resources available for PEEC students.</td></tr>
	    <tr><td> <i class="fa fa-info-circle"></i>&nbsp; <%= link_to 'Frequently Asked Questions', '/peec/current/faqs' %>: Answers to some frequent questions.</td></tr>
	  </tbody>
      </table>


<p>&nbsp;</p>
