
	  <tr>
		<td>
			<% if !course.website.empty? %>
				<a href="<%=h course.website %>"><%=h course.course_number %></a>
			<% else %>
				<%=h course.course_number %>
			<% end %>
		</td>
		<td NOWRAP><%= course.cross_listings %></td>
		<td><%= course.course_title %></td>
		<td><%=h course.credit_hours %></td>
		<td>
			<% if !course.offered.empty? %><%=h course.offered %><% end %>
		</td>
		<td><%= course.area_and_additional %></td>
		
		<td>
			<% form_for :course, :url => { :action => 'show', :id => course.id } do |f| %><%= f.submit 'Show' %><% end %>
			<% form_for :course, :url => { :action => 'edit', :id => course.id } do |f| %><%= f.submit 'Edit' %><% end %>
			<% form_for :course, :url => { :action => 'update', :id => course.id } do |f| %><%= f.hidden_field :ib_course, :value => 0 %><%= f.submit 'Remove' %><% end %>
		</td>
	  </tr>
	  
