
<% content_for :submenu do %>
				<ul>
                	<li>&nbsp;</li>
                	<li id="FirstItem"><%= link_to 'Courses', :controller => "courses", :action => "index" %></li>
                    <li><%= link_to 'All IB Courses', :controller => "courses", :action => "index"  %></a></li>
                    <li><%= link_to 'SIB Area Courses', :controller => "courses", :action => "area" %></li>
                    <li><%= link_to 'Additional Approved Courses', :controller => "courses", :action => "additional" %></li>
                    <li><%= link_to 'Special Topics Courses', :controller => "courses", :action => "special" %></li>
                    <li>&nbsp;</li>
				</ul>
<% end %>
<% content_for :breadcrumbs do %><%= link_to 'Courses', courses_path %> &gt;&gt; IB 496 Special Topics Courses<% end %>



	<h1 style="text-align: center; padding: 0 4em 0 4em; margin-bottom: 0; padding-bottom: 0;">IB 496 Special Topics Courses</h1>
    
<%= link_to 'New Course', :action => 'new' %>	

<div class="course_table">
  <table cellspacing="0px" width="100%">
    <tr>
      <th width="200">Course</th>
      <th width="400">Topic</th>
	

	<% @courses.each do |course| %>
	  <tr>
		<td>
			<% if !course.website.empty? %>
				<a href="<%=h course.website %>"><%=h course.course_number %></a>
			<% else %>
				<%=h course.course_number %>
			<% end %>
			<% if !course.call_number.empty? %>(<%=h course.call_number %>)<% end %><br/>
			<% if !course.credit_hours.empty? %><%=h course.credit_hours %> Hour<br/><% end %>
			<% if !course.course_time.empty? %><%=h course.course_time %><br/><% end %>
			<% if !course.instructor.empty? %>Instructor(s): <%= course.instructor %><% end %>
		</td>
		<td><% if !course.description.empty? %><%= course.description %><% end %></td>
		<td>
			<% form_for :course, :url => { :action => 'show', :id => course.id } do |f| %><%= f.submit 'Show' %><% end %>
			<% form_for :course, :url => { :action => 'edit', :id => course.id } do |f| %><%= f.submit 'Edit' %><% end %>
			<% form_for :course, :url => { :action => 'update', :id => course.id } do |f| %><%= f.hidden_field :special_topic, :value => 0 %><%= f.submit 'Remove' %><% end %>
		</td>
	  </tr>

	  
	<% end %>



  </table>
  
    <br/>
	
	<h2 style="margin-bottom: 0; padding-bottom: 0;">Other Courses</h2>
	
  <table cellspacing="0px">
    <tr>
      <th width="200">Course</th><th>Add This Course?</th><th>&nbsp;</th>
	</tr>
	

	<% @other_courses.each do |course| %>
	  <tr>
		<td><%=h course.course_number %></td>
		
		<td>
			<% form_for :course, :url => { :action => 'show', :id => course.id } do |f| %><%= f.submit 'Show' %><% end %>
			<% form_for :course, :url => { :action => 'edit', :id => course.id } do |f| %><%= f.submit 'Edit' %><% end %>
			<% form_for :course, :url => { :action => 'update', :id => course.id } do |f| %><%= f.hidden_field :special_topic, :value => 1 %><%= f.submit 'Add' %><% end %>
		</td>
		<td><% form_for :course, :url => { :action => 'destroy', :id => course.id } do |f| %><%= f.submit 'Delete' %><% end %></td>
	  </tr>

	  
	<% end %>



  </table>	
  
  <br/>
  
  
  </div>
  
