<div class="panel-group" id="accordion">
  <div class="panel panel-default" >

    <ul id="sidebar1" class="ugrad_menu">
      <li class="panel-title"><%= link_to 'Peec Home', '/peec/', id: "peec_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><%= link_to "Seminars", '/peec/seminars/' %></li>
        </ul>
      </li>

      <li class="panel-title">
      <li class="panel-title"><%= link_to 'Prospective Students', '/peec/prospective', id: 'prospective_ex', class: 'collapsed', target: '_self' %>
        <ul>
          <li><%= link_to 'Before you Apply', '/peec/preapplication' %></li>
          <li><%= link_to 'Admission Creteria', '/peec/creteria' %></li>
          <li><%= link_to 'How to Apply', '/peec/apply' %></li>
        </ul>
      </li>

      <li class="panel-title">
      <li class="panel-title"><%= link_to 'Current Students', '/peec/current', id: 'current_ex', class: 'collapsed', target: '_self' %>
        <ul>
          <li><%= link_to 'Student Deadlins', '/peec/deadlines' %></li>
          <li><%= link_to 'Important Forms', '/peec/forms' %></li>
          <li><%= link_to 'Milestone Timeline', '/peec/milestones' %></li>
          <li><%= link_to 'Prelim Exam', '/peec/prelim' %></li>
          <li><%= link_to 'Final Defense', '/peec/finaldefense' %></li>
          <li><%= link_to 'Terminal Master Defense', '/peec/masterdefense' %></li>
          <li><%= link_to 'Program Handbook', '/peec/handbook' %></li>
          <li><%= link_to 'By-Laws', '/peec/bylaws' %></li>
          <li><%= link_to 'Fellowships', '/peec/fellowships' %></li>
          <li><%= link_to 'Facilities', '/peec/facilities' %></li>
          <li><%= link_to 'Frequently Asked Questions', '/peec/faqs' %></li>
        </ul>
      </li>
    

      <li class="panel-title">
      <li class="panel-title"><%= link_to 'Research Areas', '/peec/research', id: 'research_ex', class: 'collapsed', target: '_self' %>
        <ul>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>

      <li class="panel-title">
      <li class="panel-title"><%= link_to 'News', '/peec/news', id: 'news_ex', class: 'collapsed', target: '_self' %>
        <ul>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>

      <li class="panel-title">
      <li class="panel-title"><%= link_to 'Directory', '#', id: 'research_ex', class: 'collapsed', target: '_self' %>
        <ul>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>

  </div>
</div>



