<%# 11-Jun-2105 ashwini@ added bgcolor with sidebar_header
    12-Jun-2105 uebele@ moved sidebar_header styles to stylesheets, fixed '/'
-%>
<!-- Resouces Sidebar
       used for content in /resources/
       updated by uebele@ Jun-2015 -->

<% # spans show icons
ext_icon='<span class="fa fa-external-link" style="margin-left:1em;"></span>'
-%>

<div class="panel-group" id="accordion">
  <div class="panel panel-default" >

    <ul id="sidebar1" class="sidebar_menu">

      <li class="panel-title sidebar_header">
        <%= link_to 'Resources', '/resources/', class: 'header' %>
      </li>

      <li class="panel-title">
        <a class="collapsed" target="_self" href="/resources/school_links">Intra-School Links</a>
      </li>


      <li class="panel-title"><%= link_to "Business Office", '/resources/business', id: "business_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><%= link_to "Human Resources", '/resources/business/HR'%></li>
          <li><%= link_to "Purchasing", '/resources/business/purchasing'%></li>
          <li><%= link_to "Reimbursements/Vouchers", '/resources/business/reimbursements'%></li>
          <li><%= link_to "Grant Preparation", '/resources/business/grants'%></li>
         </ul>
      </li>


<li class="panel-title"> <%= link_to raw("Office of Information Technology"+ext_icon), 'http://www.life.illinois.edu/help/', class: 'collapsed', target: '_blank' %></li>
      
    </ul>

  </div>
</div>


