<%# 10-Jun-2015 uebele@ added proficiency_exams to advising_ex 
      converted advising_ex from a-tags ot link_to's
    11-jun-2015 ashwini@ added bgcolor to sidebar header
    12-jun-2015 uebele@ 2-space indent, vaidated, moved sidebar_header styles

TODO: make class-level icon-variables or adjust CSS to get rid of variables
-%>
<!-- Undergraduate Sidebar
       used for content in /undergraduate/
       updated by uebele@ Jun-2015 -->

<% # spans show icons
ext_icon='<span class="fa fa-external-link" style="margin-left:1em;"></span>'
-%>
<div class="panel-group" id="accordion">
  <div class="panel panel-default" >
    <ul id="sidebar1" class="sidebar_menu">

      <li class="panel-title sidebar_header">
        <%= link_to 'Undergraduate', '/undergraduate', class: 'header' %>
      </li>

      <li class="panel-title"><%= link_to "Advising", '/undergraduate/advising',  id: "advising_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><%= link_to "FAQ", '/undergraduate/advising/faq' %></li>    
          <li><%= link_to raw("Make an Appointment"+ext_icon), 'https://ib-uiucbioadvising.youcanbook.me/',target: '_blank' %></li>    
          <li><%= link_to "Academic Assistance",'/undergraduate/advising/academic_assistance' %></li>
          <li><%= link_to "Campus Links", '/undergraduate/advising/campus_links' %></li>    
          <li><%= link_to "Spotlight Newsletter",'/undergraduate/advising/spotlight' %></li>  
        </ul>
      </li>
      <li class="panel-title"><%= link_to "Prospective Students", '/undergraduate/prospective',  id: "prospective_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><a href="/undergraduate/prospective/faq">FAQ</a></li>
          <li><a href="/undergraduate/prospective/declare">How to Declare</a></li>
          <li><a href="/undergraduate/prospective/visiting">Visiting Illinois</a></li>
          <li><a href="/undergraduate/prospective/map">Visitor’s Map</a></li>
        </ul>
      </li>
      <li class="panel-title"><%= link_to "What can I do with IB?", '/undergraduate/options',  id: "options_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><a href="/undergraduate/options/pre_health">Pre-Health </a></li>
          <li><a href="/undergraduate/options/ecology">Ecology & Conservation</a></li>
          <li><a href="/undergraduate/options/organism">Organisms & Evolution</a> </li>
          <li><a href="/research/undergraduate">Research</a></li>
          <li><a href="/undergraduate/programs/teaching">Teaching</a> </li>
        </ul>              
      </li>
      <li class="panel-title"><%= link_to "Programs of Study", '/undergraduate/programs',  id: "programs_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><a href="/undergraduate/programs/ib_major">Major in IB</a></li>
          <li><a href="/undergraduate/programs/honors">Honors</a></li>
          <li><a href="/undergraduate/programs/teaching">Teaching in Biology</a> </li>
          <li><a href="/undergraduate/programs/minor">Minor in IB</a></li>
          <li><a href="/undergraduate/programs/minor_ecology">Minor in Ecology & Conservation Biology</a> </li>


<!--KA: Adding these here for time being. Check and move to proper place later -->
          <li><a href="/undergraduate/programs/typical_4year">Typical 4 year Program</a> </li>
          <li><a href="/undergraduate/programs/typical_4year_premed">Typical 4 year PreMed Program</a> </li>

        </ul>              
      </li>
      <li class="panel-title"><%= link_to "Special Programs", '/undergraduate/special_programs',  id: "special_programs_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><a target="_blank" href="http://merit.illinois.edu/futurestudents.html">Merit <i class="fa fa-external-link"></i></a></li>
          <li><a href="/undergraduate/special_programs/research_intro">IB 199: Intro to Research</a></li>

  	  <!--KA: July 2015: As per Carol Biomath & BARS are not a Special Programs anymore-->
          <!--<li><a target="_blank" href="http://www.math.uiuc.edu/biomath/">IB 299: Biomath <i class="fa fa-external-link"></i></a></li>-->
          <!--<li><a href="/undergraduate/special_programs/bars">IB 496: BARS</a></li>-->

	  <li><a href="/undergraduate/special_programs/ib492">IB 492: Science Communication Skills</a></li>
	  <li><%= link_to "Graduation with Distinction",'/undergraduate/distinction' %></li>
        </ul>              
      </li>

      <li class="panel-title"><%= link_to "Courses", '/courses',  id: "courses_ex", class: "collapsed", target: "_self" %>
        <ul>
	  <li><a  href="/courses/level_100">100-Level</a></li>
          <li><a  href="/courses/level_200">200-Level</a></li>
          <li><a  href="/courses/level_300">300-Level</a></li>
          <li><a  href="/courses/level_400">400-Level</a></li>	  
	  <li><a  href="/courses/semester">Advanced Courses by Semester</a></li>
	  <li><a  href="/courses/area">Advanced Courses by Area</a></li>
	  <li><a  href="/courses/additional_advanced">Additional Advanced Courses</a></li>
	  <li><a  href="/courses/special">Special Topic Courses</a></li>
	  <li><a  href="/courses/proficiency_exams">Proficiency Exams</a></li>
        </ul>   
      </li>

      <li class="panel-title"><%= link_to "Financial Support", '/undergraduate/support',  class: "collapsed", target: "_self" %></li>

      <li class="panel-title"><%= link_to "Career Development", '/undergraduate/career',  id: "career_ex", class: "collapsed", target: "_self" %>
        <ul>
         <!-- <li><a href="/undergraduate/workshops">Workshops</a></li>      KA: The content in this page is obsolete.-->
          <li><a href="/undergraduate/local_opportunities">Local Opportunities</a></li>
	  <li><a href="/undergraduate/summer_jobs">Summer Jobs</a></li>

        </ul>
      </li>

      <li class="panel-title"><%= link_to "Guidelines", '/undergraduate/guidelines',  id: "guidelines_ex", class: "collapsed", target: "_self" %>
        <ul>
          <li><a href="/undergraduate/guidelines/scientific_process">Scientific Process</a></li>
          <li><a href="/undergraduate/guidelines/scientific_process_glossary">Scientific Process Glossary</a></li>
          <li><a href="/undergraduate/guidelines/library_search">Library Search</a> </li>
          <li><a href="/undergraduate/guidelines/read_graph">How to Read Graph</a></li>
          <li><a href="/undergraduate/guidelines/basic_statistics">Basic Statistics</a></li>
          <!--<li><a href="/undergraduate/guidelines/excel">Statistics in Excel</a></li>-->
          <li><a href="/undergraduate/guidelines/abstract">Writing an Abstract</a></li>
          <li><a href="/undergraduate/guidelines/manuscript">Writing a Scientific Manuscript</a></li>
          <li><a href="guidelines_sample_manuscript.doc">Sample Manuscript-Word Document</a></li>
          <li><a href="/undergraduate/guidelines/presentation">Oral Presentation</a></li>
          <li><a href="/undergraduate/guidelines/discussion">Leading a Formal Discussion</a></li>
          <li><a href="/undergraduate/guidelines/poster">Making a Poster</a></li>
          <li><a href="guidelines_poster_template.pdf" target="_blank">Poster Template-PDF Document</a></li>
        </ul>              
      </li>

    </ul>
  </div>
</div>
