<!--KA: May 2015: About-Departments-->


  <div class="row">
            <div class="col-lg-12"><p></div>

          
<!--Sidebar start-->
	<div class="col-md-4">
		 <%= render 'layouts/sidebar_ugrad_advising' %>
	 </div>
<!--Sidebar end-->

<!--Main content-->
         <div class="col-md-8 no-gutter">

	 <h2 style="text-align: center;">Departments and Programs</h2>
	 <h4 style="text-align: center;">The School of Integrative Biology comprises of three academic departments:</h4>
	 
<!--Animal Bio-->	
	 <div class="col-md-4">
	     <h4 style="text-align: center;"><a href="http://www.life.illinois.edu/animalbiology/">Animal Biology</a></h4>		    
	     <a	class="no_underline" href="http://www.life.illinois.edu/animalbiology/">
		<%= image_tag 'sib/animalBio1.jpg',  alt: "IB Spotlight", size: "180x150"%></a><br>
	     <p style="text-align: center;">Understanding animal interactions from ecological, behavioral and evolutionary perspectives.</p>
	 </div>	
<!--Entomology-->
	 <div class="col-md-4">
	    <h4 style="text-align: center;"><a href="http://www.life.illinois.edu/entomology/index.html">Entomology</a></h4>	
            <a class="no_underline" href="http://www.life.illinois.edu/entomology/index.html">
               <%= image_tag 'sib/entomology2.jpg',  alt: "IB Spotlight", size: "180x150" %></a>
	     <p style="text-align: center;">Biology with six legs, from molecules to ecosystems.</p>
	 </div>
<!--Plant BIo-->	
	 <div class="col-md-4">
 	    <h4 style="text-align: center;"><a href="http://www.life.illinois.edu/plantbio/">Plant Biology</a></h4>	
            <a	class="no_underline" href="http://www.life.illinois.edu/plantbio/">
	       <%= image_tag 'sib/plantBio1.jpg',  alt: "IB Spotlight", size: "180x150" %></a>
	     <p style="text-align: center;">Understanding plants from photosynthesis to their role in global cycles.</p>
	</div>
	
  	<div class="col-lg-12">
		<hr>
		<h4>In addition, the school offers or has connections with five interdisciplinary graduate programs: </h4>
	</div>

<!--Ecology-->
        <div class="col-md-4 ">
               <a class="no_underline" href="http://www.sib.illinois.edu/peec/">
               <%= image_tag 'sib/peec1.jpg',  alt: "PEEC", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="http://sib.illinois.edu/peec/">Program in Ecology, Evolution, &amp; Conservation Biology (PEEC)</a></h4>
		<p>Advanced and comprehensive training in ecology, evolutionary biology, and the conservation of biodiversity.</p> 
	  </div>

	<div class="col-lg-12"><hr></div>

<!--Neuroscience-->
 	<div class="col-md-4 ">
               <a class="no_underline" href="http://www.neuroscience.illinois.edu/">
               <%= image_tag 'sib/brain_image.gif',  alt: "Neuroscience", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="http://www.neuroscience.illinois.edu/">Neuroscience Program</a></h4>
		<p>Studying how the nervous system works, from molecules to brain.</p> 
	  </div>

	<div class="col-lg-12"><hr></div>

<!--MST-->
 	<div class="col-md-4 ">
               <a class="no_underline" href="http://www.sib.illinois.edu/mst/home">
               <%= image_tag 'sib/mastersInTeachingBio1.jpg',  alt: "MST", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="http://www.sib.illinois.edu/mst/home">Master of Science in the Teaching of Biological Science (MST)</a></h4>
                <p>Advanced training for secondary school teachers of biology.</p>
	  </div>

	<div class="col-lg-12"><hr></div>

<!--Biology Science-->
 	<div class="col-md-4 ">
               <a class="no_underline" href="/MSOnlineTeaching/">
               <%= image_tag 'sib/MSTWordCloud.jpg',  alt: "MS Online Teaching Word Cloud", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="/MSOnlineTeaching/">Online Master of Science in the Teaching of Biological Science</a></h4>
		<p>Online program designed for individuals who are already certified to teach biology in public schools, specifically middle school general science teachers and high-school biology teachers.</p>
	  </div>

	<div class="col-lg-12"><hr></div>

<!--MS Plant BIO-->
 	<div class="col-md-4 ">
               <a class="no_underline" href="http://www.life.illinois.edu/plantbio/psm">
               <%= image_tag 'sib/PSM2.jpg',  alt: "Science meets Business", size: "180x150" %>
	       </a>
         </div>
         <div class="col-md-8">
                <h4><a href="https://wiki.cites.illinois.edu/wiki/display/PlantBiologyPSM/Illinois+Plant+Biotechnology+Professional+Science+Master%27s">Plant Biotechnology Professional Science Master's Degree</a></h4>
		<p>This 16-month program of study integrates graduate scholarship on the leading edge of plant sciences with business knowledge and skills targeted to immediate and emerging plant science and technology-based industry needs.</p>
	  </div>









</div>
</div>


