<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Title:</b>
  <%= @person.title %>
</p>

<p>
  <b>Department:</b>
  <%=h @person.department_show %>
</p>

<p>
  <b>Program:</b>
  <%=h @person.program_show %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Office address:</b>
  <%=h @person.office_address %>
</p>

<p>
  <b>Office phone:</b>
  <%=h @person.office_phone %>
</p>

<p>
  <b>Lab address:</b>
  <%=h @person.lab_address %>
</p>

<p>
  <b>Lab phone:</b>
  <%=h @person.lab_phone %>
</p>

<p>
  <b>Mail address:</b>
  <%=h @person.mail_address %>
</p>

<p>
  <b>Mail code:</b>
  <%=h @person.mail_code %>
</p>

<p>
  <b>Research statement:</b>
  <%=h @person.research_statement %>
</p>

<p>
  <b>Accepting students:</b>
  <%=h @person.accepting_students %>
</p>

<p>
  <b>Picture:</b>
  <%=h @person.picture %>
</p>

<p>
  <b>Research area:</b>
  <%=h @person.research_area %>
</p>

<p>
  <b>Lab webpage:</b>
  <%=h @person.lab_webpage %>
</p>

<p>
  <b>Personal webpage:</b>
  <%=h @person.personal_webpage %>
</p>

<p>
  <b>Position Status:</b>
  <%=h @person.position_status %>
</p>

<p>
  <b>Netid:</b>
  <%=h @person.netid %>
</p>


<%= link_to 'Edit', :action => 'edit', :id => @person %> |
<%= link_to 'Back', :action => 'index' %>
