<!--18-May-2015: Changing the About in Navbar to School of Integrative Biology-->

<header class="header"> 

   <div class="container" id="banner"  >
      <div class="row"> 
	 <%= image_tag "imark_blue.jpg", id: 'imark' %> 
	 <%#= image_tag "cells.png", id: 'cells' %> 
	 <%= image_tag "ib_header_background.png", id: 'cells' %> 
	    <div id="school_of">School of</div>
	    <div id="integrative">Integrative</div>
	    <div id="biology">Biology</div>
      </div>
 </div>

<!--<div class="navbar supermenu navbar-inverse navbar-fixed-top">-->

<div class="navbar supermenu navbar-static-top" role ="navigation" id="topnavbar" >
   
<!--KA: Use container-fluid if you want a full page width menu
   <div class="container-fluid"> -->
   <div class="container">

      <div id ="logo_div" class="navbar-header" >
         <button id ="logo_btn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle" >
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
      <!-- <a href="/" class="navbar-brand"> School of Integrative Biology</a> -->
      </div>

     
    <!-- Supermenu Navbar -->
     <div id="navbar-collapse-1" class="navbar-collapse collapse" >
	<ul class="nav navbar-nav">

<!-- Navbar Home button -->
	<li class="dropdown supermenu" id="navbar_home"><a href="/" class="dropdown-toggle"><i class="fa fa-home"></i></a></li>
        





<!--===============================================-->
<!--Menu item 1 -->

<div class="row collapsed_menu" id="collapsed_id">
    <li class=" col-xs-8 dropdown supermenu" id = "navitem1"><a  href="/" class="dropdown-toggle disabled">School of Integrative Biology</a>
	  
<!-- ======If full screen ========
	   <li class="dropdown supermenu" id = "navitem1"><a  href="/about" data-toggle="dropdown" class="dropdown-toggle">School of Integrative Biology</a>
-->
	     <ul id="SIB_ul" class="dropdown-menu" >
	       <li>
	          <div class="supermenu-content">
		    <div class="row">
		      <ul class="col-md-5 list-unstyled">
			<li><strong><%= link_to "People-New", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Research-New", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Departments", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Programs -New", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Contact Us", about_contact_path %></strong></li>
		      </ul>
		</div>
	      </div>
            </li>
          </ul>
        </li>

<!-- Caret for menu item 1 -->
    <li id = "navbar_caret" class=" col-xs-4 dropdown">
            <a data-toggle="collapse" data-parent="#navbar-collapse-1" href="#SIB_ul"><b class="caret"></b></a>
    	</li>
  </div>

<!--===============================================-->






    <!-- Menu Item-2 -->
    <li class="dropdown supermenu "><a href="/undergraduate" class="dropdown-toggle disabled">Undergraduate</a>
    <!--<li class="dropdown supermenu "><a href="/undergraduate" data-toggle="dropdown" class="dropdown-toggle">Undergraduate</a>-->  
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row"  >

	      <ul class="col-md-5 list-unstyled">
		<li><strong><%= link_to "Prospective", prospective_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Courses-NEW", ugrad_courses_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Honors-NEW", ugrad_honors_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Advising", advising_path %></strong></li>
				      
              </ul>
  	</div>
          </div>
        </li>
      </ul>
    </li>

    <!-- Menu Item-3 -->
   <li class="dropdown supermenu"><a href="/graduate" class="dropdown-toggle disabled">Graduate</a>
   <!-- <li class="dropdown supermenu"><a href="/graduate" data-toggle="dropdown"  class="dropdown-toggle">Graduate</a> -->
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	       <ul class="col-md-5 list-unstyled">
   	   	   <li><strong><%= link_to "Prospective-NEW", grad_prospective_path %></strong></li>
		   <hr>
	      	   <li><strong><%= link_to "Courses-NEW", grad_courses_path %></strong></li>
      	       </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>


 <!-- Menu Item-4 -->
    <li class="dropdown supermenu"><a href="/alumni" class="dropdown-toggle disabled">Alumni & Friends</a></li>
    <!--<li class="dropdown supermenu"><a href="/alumni" data-toggle="dropdown"  class="dropdown-toggle">Alumni & Friends</a></li>-->


 <!-- Menu Item-5 -->
    <li class="dropdown supermenu"><a href="/people" class="dropdown-toggle disabled">Resources</a>
    <!--<li class="dropdown supermenu"><a href="/people" data-toggle="dropdown"  class="dropdown-toggle">Resources</a>-->
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-md-5 list-unstyled">
		   <li><strong><a  href="#"> For Faculty & Staff </a></strong></li>			
	      </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>


   </ul>
  </div>
 </div>
</div>
</header>


