<header class="header"> 

   <div class="container" id="banner" >
      <div class="row"> 


 <%= image_tag "imark_blue.jpg", id: 'imark' %> 
  <%= image_tag "cells.png", id: 'cells' %> 
  
  <div id="school_of">School of</div>
  <div id="integrative">Integrative</div>
  <div id="biology">Biology</div>

	</div>
    </div>

<!--<div class="navbar supermenu navbar-inverse navbar-fixed-top">-->

<div class="navbar supermenu navbar-static-top" role ="navigation" id="topnavbar" >
   
<!--KA: Use container-fluid if you want a full page width menu
   <div class="container-fluid"> -->
   <div class="container">

      <div id ="logo_div" class="navbar-header" >
         <button id ="logo_btn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle" >
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
       <a href="/ashwini" class="navbar-brand"> School of Integrative Biology</a>
      </div>
     
    <!-- Menu Item-1 -->
     <div id="navbar-collapse-1" class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
	   <li class="dropdown supermenu" id = "navitem1"><a href="#" data-toggle="dropdown" class="dropdown-toggle"  >About</a>
	     <ul class="dropdown-menu">
	       <li>
	          <div class="supermenu-content">
		    <div class="row">
			<ul class="col-sm-2 list-unstyled">
			  <li><p><strong>--Title??-- </strong></p></li>
			  <li><a  href="#"> News & Events </a></li><br>
			  <li><a   href="#"> Contact Us </a></li><br>
			  <li><a  href="#"> IB Blog </a></li><br>
			</ul>

			<ul class="col-sm-2 list-unstyled">
			  <li class="column-width"><p><strong>People</strong></p></li>
			  <li class="column-width" ><a  href="#"> Faculty </a></li><br>
			  <li class="column-width" ><a  href="#"> Staff </a></li><br>
			  <li class="column-width" ><a  href="#"> Academics </a></li><br>
			  <li class="column-width" ><a  href="#"> Graduate Students </a></li><br>
			</ul>

			<ul class="col-sm-2 list-unstyled">
			  <li><p><strong>Departments</strong></p></li>
			  <li><a  href="#"> Animal Biology </a></li><br>
			  <li><a  href="#"> Entomology </a></li><br>
			  <li><a  href="#"> Plant Biology </a></li><br>
			</ul>

			<ul class="col-sm-2 list-unstyled">
			  <li class="column-width"><p><strong>Programs</strong></p></li>
			  <li class="column-width" ><a  href="#"> Program in Ecology,Evolution & Conservation Biology (PEEC) </a></li><br>
			  <li   class="column-width" ><a  href="#"> Neuroscience Program (NSC) </a></li><br>
			  <li   class="column-width" ><a  href="#"> M.S.in Teaching of Biology </a></li><br>
			  <li   class="column-width" ><a  href="#"> Online M.S.in Teaching of Biology </a></li><br>
			</ul>
		</div>
	      </div>
            </li>
          </ul>
        </li>


    <!-- Menu Item-2 -->
    <li class="dropdown supermenu "><a href="#" data-toggle="dropdown" class="dropdown-toggle">Undergraduate</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">

	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Advising </strong></p>
		</li>
		<li><a  href="#"> Make an Appointment </a></li><br>
		<li><a  href="#"> Academic Assistance </a></li><br>
		<li><a  href="#"> FAQs </a></li><br>
		<li><a  href="#"> Campus Links </a></li><br>
	      </ul>

	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Prospective </strong></p>
		</li>
		<li><a  href="#"> How to Declare </a></li><br>
		<li><a  href="#"> Visiting Illinois </a></li><br>
		<li><a  href="#"> FAQs </a></li><br>
		<li><a  href="#"> Visitor's Map </a></li><br>
	      </ul>
	     
	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong> Programs of Study </strong></p>
		</li>
		<li><a  href="#"> Major in IB </a></li><br>
		<li><a  href="#"> Honors </a></li><br>
		<li><a  href="#"> Teaching in Biology </a></li><br>
		<li><a  href="#"> Minor in IB </a></li><br>
		<li><a  href="#"> Minor in Ecology & Conservation Biology </a></li><br>
	       </ul>


	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong>Special Programs </strong></p>
		</li>
		<li><a  href="#"> Merit </a></li><br>
		<li><a  href="#"> IB 199-Intro to Research </a></li><br>
		<li><a  href="#"> IB 299-Bio Math </a></li><br>
		<li><a  href="#"> IB 496-BARS </a></li><br>
	      </ul>


	      <ul class="col-sm-2 list-unstyled">
		<li>
		  <p><strong>--Title??-- </strong></p>
		</li>
		<li><a  href="#"> Undergraduate Research </a></li><br>
		<li><a  href="#"> Guidelines </a></li><br>
		<li><a  href="#"> Support </a></li><br>
		<li><a  href="#"> Next Step </a></li><br>
		<li><a  href="#"> Convocation </a></li><br>
	      </ul>

</div>
          </div>
        </li>
      </ul>
    </li>


    <!-- Menu Item-3 -->
    <li class="dropdown supermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Graduate</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-sm-2 list-unstyled">
		<li> <p><strong>--Title??-- </strong></p></li>
		<li><a  href="#"> Grants & Awards </a></li><br>
		<li><a  href="#"> Support </a></li><br>
		<li><a  href="#"> News & Features </a></li><br>
	      </ul>

	      <ul class="col-sm-2 list-unstyled">
		<li> <p><strong> Department & Programs </strong></p></li>
		<li class="column-width" ><a  href="#"> Animal Biology </a></li><br>
		<li  class="column-width"><a  href="#"> Entamology </a></li><br>
		<li  class="column-width"><a  href="#"> Plant Biology </a></li><br>
		<li  class="column-width"><a  href="#"> Program in Ecology, Evolution & Conservation Biology (PEEC) </a></li><br>
		<li  class="column-width"><a  href="#"> Neuroscience Program(NSP) </a></li><br>
		<li  class="column-width"><a  href="#"> M.S.in Teaching of Biology(MST) </a></li><br>
		<li  class="column-width"><a  href="#"> Online M.S.in Teaching of Biology </a></li><br>
	      </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>


    <!-- Menu Item-4 -->
    <li class="dropdown supermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">KA Layout Samples</b></a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-sm-2 list-unstyled">
		<li> <p><strong> Various Columns </strong></p></li>
		<li><%= link_to "1 Column", onecolumn_path %></li><br>
		<li><%= link_to "2 Column Even", twocolumneven_path %></li><br>
		<li><%= link_to "2 Column UnEven", twocolumnuneven_path %></li><br>
		<li><%= link_to "3 Column Even", threecolumneven_path %></li><br>
		<li><%= link_to "3 Column Panel", threecolumnpanel_path %></li><br>
		<li><%= link_to "4 Column Even", fourcolumneven_path %></li><br>
	      </ul>
    	      <ul class="col-sm-2 list-unstyled">
		<li> <p><strong> Other Layouts </strong></p></li>
		<li><%= link_to "Tabbed Pages", tab_path %></li><br>
		<li><%= link_to "News Listing from RSS feed", postslist_path %></li><br>
		<li><%= link_to "News Listing from Database", newslist_path %></li><br>
		<li><%= link_to "News Item", newsitem_path %></li><br>
		<li><%= link_to "Page with Left Sidebar", leftsidebar_path %></li><br>
		<li><%= link_to "Contact Page", samplecontact_path %></li><br>
	      </ul>
	   
	    </div>
         </div>
        </li>
       </ul>
    </li>

 <!-- Menu Item-4 - End-->

   </ul>
  </div>
 </div>
</div>
</header>

