<%# KA: Created: MAy 2015
    KA: Modified: 18-May-2015: Changing the About in Navbar to
      School of Integrative Biology
    01-Jun-2015: uebele@ validated, added div's, put hr's inside li's
-%>
<!-- Header Banner and Menus 
       used for content in sib.illinois.edu
       updated by uebele@ Jun-2015 -->



<% # spans show icons
  ext_icon='<span class="fa fa-external-link" style="margin-left:1em;"></span>'
-%>
<header class="header"> 

  <div class="container" id="banner"  >
    <div class="row"> 
      <%= image_tag "imark_blue.jpg", id: 'imark' %> 
      <%#= image_tag "cells.png", id: 'cells' %> 
      <%= image_tag "ib_header_background.png", id: 'cells' %> 
      <div id="school_of">School of</div>
      <div id="integrative">Integrative</div>
      <div id="biology">Biology</div>
    </div>
  </div>


  <!--<div class="navbar supermenu navbar-inverse navbar-fixed-top">-->
  <div class="navbar supermenu navbar-static-top" role ="navigation" id="topnavbar" >

    <!--KA: Use container-fluid if you want a full page width menu
    <div class="container-fluid"> -->
    <div class="container">

      <div id ="logo_div" class="navbar-header" >
        <button id ="logo_btn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle" >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a href="/" class="navbar-brand"> School of Integrative Biology</a> -->
      </div>

<!-- Supermenu Navbar -->
      <div id="navbar-collapse-1" class="navbar-collapse collapse" >
        <ul class="nav navbar-nav">

<!-- Navbar Home button -->
          <li class="dropdown supermenu" id="navbar_home"><a href="/" class="dropdown-toggle"><i class="fa fa-home"></i></a></li>
        

<!--Menu item 1 -->
          <li class="dropdown supermenu" ><a href="/departments" class="dropdown-toggle disabled">School of Integrative Biology</a>
	<!--<li class="dropdown supermenu "><a href="/" data-toggle="dropdown" class="dropdown-toggle">School of Integrative Biology</a>-->
            <ul id="sib_ul" class="dropdown-menu" >
              <li>
                <div class="supermenu-content header-item1">
                  <div class="row row-no-padding" >
                    <ul class="col-md-5 list-unstyled ul_navbar">
			<%= link_to '/departments' do %>
			  <li>Departments</li>
                        <% end %>
			<%= link_to '/programs' do %>
			  <li>Programs</li>
                        <% end %>
			<%= link_to '/people' do %>
			  <li>People</li>
                        <% end %>
			<%= link_to '/research/undergraduate' do %>
			  <li>Research</li>
                        <% end %>
			<%= link_to '/about/contact' do %>
			  <li>Contact Us</li>
                        <% end %>
			<%= link_to '/about/faq' do %>
			  <li>FAQ</li>
                        <% end %>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>


<!-- Menu Item-2 -->
          <li class="dropdown supermenu "><a href="/undergraduate" class="dropdown-toggle disabled">Undergraduate</a>
          <!--<li class="dropdown supermenu "><a href="/undergraduate" data-toggle="dropdown" class="dropdown-toggle">Undergraduate</a>-->  
            <ul class="dropdown-menu">
              <li>
                <div class="supermenu-content header-item2">
                  <div class="row row-no-padding">
		     <ul class="col-md-5 list-unstyled ul_navbar">
			<%= link_to '/undergraduate/advising' do %>
			  <li>Advising</li>
                        <% end %>
			<%= link_to '/undergraduate/prospective' do %>
			  <li>Prospective Students</li>
                        <% end %>
			<%= link_to '/undergraduate/options' do %>
			  <li>Options</li>
                        <% end %>
			<%= link_to '/undergraduate/programs' do %>
			  <li>Programs</li>
                        <% end %>
			<%= link_to '/courses' do %>
			  <li>Courses</li>
                        <% end %>
			<%= link_to '/undergraduate/support' do %>
			  <li>Financial Support</li>
                        <% end %>
                    </ul>
  		  </div>
	         </div>
              </li>
            </ul>
          </li>


<!-- Menu Item-3 -->
          <li class="dropdown supermenu"><a href="/graduate" class="dropdown-toggle disabled">Graduate</a>
          <!-- <li class="dropdown supermenu"><a href="/graduate" data-toggle="dropdown"  class="dropdown-toggle">Graduate</a> -->
            <ul class="dropdown-menu">
              <li>
                <div class="supermenu-content header-item3">
                  <div class="row">
                    <ul class="col-md-5 list-unstyled ul_navbar">
			<%= link_to '/graduate/prospective' do %>
			  <li>Prospective Applicants</li>
                        <% end %>
			<%= link_to '/courses/graduate' do %>
			  <li>Courses</li>
                        <% end %>
			<%= link_to '/peec/' do %>
			  <li>PEEC - Program in Ecology, Evolution, and Conservation Biology</li>
                        <% end %>
			<%= link_to '/graduate/grants' do %>
			  <li>Grants &amp; Awards</li>
                        <% end %>
			<%= link_to 'http://www.grad.illinois.edu/', target: '_blank' do %>
			  <li><%= ("The Graduate College" + ext_icon ).html_safe %></li>
                        <% end %>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>


<!-- Menu Item-4 -->
          <li class="dropdown supermenu"><a href="/alumni" class="dropdown-toggle disabled">Alumni & Friends</a>
          <!--<li class="dropdown supermenu"><a href="/alumni" data-toggle="dropdown"  class="dropdown-toggle">Alumni & Friends</a></li>-->
            <ul class="dropdown-menu">
              <li>
                <div class="supermenu-content header-item4">
                  <div class="row">
                    <ul class="col-md-5 list-unstyled ul_navbar">
			<%= link_to '/alumni/donations' do %>
			  <li>Giving to SIB</li>
                        <% end %>
			<%= link_to '/alumni/featured' do %>
			  <li>Featured Alumni</li>
                        <% end %>
			<%= link_to '/news/index' do %>
			  <li>News &amp; Features</li>
                        <% end %>
			<%= link_to 'http://www.uiaa.org/illinois/', target: '_blank' do %>
			  <li><%= ("UI Alumni Association" + ext_icon ).html_safe %></li>
                        <% end %>
			<%= link_to 'http://www.las.illinois.edu/alumni/', target: '_blank' do %>
			  <li><%= ("LAS Alumni" + ext_icon ).html_safe %></li>
                        <% end %>

                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>


<!-- Menu Item-5 -->
          <li class="dropdown supermenu"><a href="/resources" class="dropdown-toggle disabled">Resources</a>
          <!--<li class="dropdown supermenu"><a href="/resources" data-toggle="dropdown"  class="dropdown-toggle">Resources</a>-->
            <ul class="dropdown-menu">
              <li>
                <div class="supermenu-content header-item5">
                  <div class="row">
                    <ul class="col-md-5 list-unstyled ul_navbar">
			<%= link_to '/resources/school_links' do %>
			  <li>Intra School Links</li>
                        <% end %>
			<%= link_to '/resources/business' do %>
			  <li>Business Office</li>
                        <% end %>
			<%= link_to 'http://www.life.illinois.edu/help/', target: '_blank' do %>
			  <li><%= ("Office of Information Technology" + ext_icon ).html_safe %></li>
                        <% end %>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>


        </ul>
      </div>
    </div>
  </div>
</header>



<script>




var timer = setTimeout( callback, 700 );
function callback() {

  $('ul.nav li.dropdown').hover(function () {

	//function callback() {
	//alert("fish")
        $('ul.nav li.dropdown:hover > ul.dropdown-menu').css('display','block');
        //$( this ).children( 'ul.dropdown-menu' ).css('display','block');
	//}
  },
  function () {
	//alert("fish")
	$('ul.nav li.dropdown > ul.dropdown-menu').css('display','none');
     //   $('ul.nav li.dropdown:hover > ul.dropdown-menu').css('display','none');
        //$( this ).children( 'ul.dropdown-menu' ).css('display','none');

  });
}


/*

$(".nav").on("click", ".dropdown", function(event){
//   alert('fish')
   $( 'ul.nav li.dropdown > ul.dropdown-menu' ).css('display','none');
});




var hovered_obj = null;
$('ul.nav li.dropdown').hover( 
  function() {
    hovered_obj = this;
    var timer1 = setTimeout( 
      function() {
        $( 'ul.nav li.dropdown' ).children( 'ul.dropdown-menu' ).css('display','none');
        $( hovered_obj ).children( 'ul.dropdown-menu' ).css('display','block');
      }
      , 700 );
  },
  function() {
    var timer2 = setTimeout( 
      function() {
        
	// $( 'ul.nav li.dropdown' ).children( 'ul.dropdown-menu' ).css('display','none');
	 $( 'ul.nav li.dropdown > ul.dropdown-menu' ).css('display','none');

        //$( hovered_obj ).children( 'ul.dropdown-menu' ).css('display','none');
      }
      , 0 );
  }
);

*/


</script>

